@model IEnumerable<EntitiyLayer.Concrete.Onarım>
@{

    ViewBag.Title = "BlogList1";
    Layout = "~/Views/Shared/_AuhtorLayout.cshtml";
}
<br />
<br />
<br />
<link rel="stylesheet" href=" ~/miniblog/fonts/icomoon/StyleSheet5.css">
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Yapılacak MakineKodu</th>
            <th>Yapılacak İs </th>
            <th>Atanma Tarihi </th>
            <th>Bölüm </th>
         
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        if (@x.BitisDurum == true)
        {
            <tr>
                <td>@x.ArızaKayıtID</td>
           
                <td>@x.MakineKodu</td>
                <td>@x.YapılacakIs</td>
                <td>@x.AtanmaSaati</td>
                <td>@x.KategoriAdı</td>
            
            </tr>
        }
    }
</table>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({});
</script>

<a href="/User/Listeleme/" class="custom-btn btn-3" style="text-align:center">CSV</a>

