@model IEnumerable<EntitiyLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList1";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Makine Liste</h2>

<link rel="stylesheet" href="~/miniblog/fonts/icomoon/StyleSheet5.css">
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
 
            <th>Bölümü</th>
            <th>Tarihi</th>
            <th>Makine Kodu</th>
            <th>Çalışma Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            var statusClass = x.Calısma_Durum ? "status-green" : "status-red";
            <tr>
                <td class="@statusClass">@x.BlogID</td>
                <td class="@statusClass">@x.Category.CategoryName</td>
                <td class="@statusClass">@x.BlogDate</td>
                <td class="@statusClass">@x.MakineKodu</td>
                <td class="@statusClass">
                    @(x.Calısma_Durum ? "Çalışıyor" : "Çalışmıyor")
                </td>
                <td>
                    <a href="/AnaSayfa/DeleteBlog/@x.BlogID" class="custom-btn btn-1" style="text-align:center" target="_self">Sil</a>
                </td>
                <td>
                    <a href="/AnaSayfa/UpdateBlog/@x.BlogID" class="custom-btn btn-5" style="text-align:center" target="_self">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script>
    $('#tbl1').dataTable({});
</script>
<a href="/AnaSayfa/AddNewBlog/" class="custom-btn btn-8" style="text-align:center;transform:translate(400px,0px)">Yeni Ürün Ekle</a>
<a href="/Onarım/Listeleme/" class="custom-btn btn-8" style="text-align:center">Listeleme</a>

<!-- Status Colors CSS -->
<style>
    .status-green {
        color: green;
        font-weight: bold;
    }

    .status-red {
        color: red;
        font-weight: bold;
    }
</style>
