@model IEnumerable<EntitiyLayer.Concrete.Onarım>
@{
    ViewBag.Title = "AdminBlogList3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Makine  Liste</h2>
<br />
<link rel="stylesheet" href=" ~/miniblog/fonts/icomoon/StyleSheet5.css">
<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Personel</th>
            <th>Baslama Saati</th>
            <th>Bitis Saati</th>
            <th>Makine Adı</th>
            <th>Makine Kodu</th>
            <th>Yapılacak İs</th>
            <th>Yapılması Planlanan İs</th>
            <th>Yapılan İs</th>
            <th>Aciliyet Durum</th>
            <th>Kategori Adı</th>
            <th>Bitis Durum</th>
            <th>Sil</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.OnarımID</td>
            <td>@x.Author.AuthorName</td>
            <td>@x.BaşlamaSaati.ToLongDateString()</td>
            <td>@x.BitisSaati.ToLongDateString()</td>
            <td>@x.MakineAdı</td>
            <td>@x.MakineKodu</td>
            <td>@x.YapılacakIs</td>
            <td>@x.Yapılmasıİs</td>
            <td>@x.Yapılanİs</td>
            <td>@x.AcileyetDurumu</td>
            <td>@x.KategoriAdı</td>
            <td>@x.BitisDurum</td>
            <td><a href="/Onarım/DeleteBlog/@x.OnarımID" class="custom-btn btn-1" style="text-align:center" target="_self" id="btn1">Sil</a></td>
        </tr>
    }
</table>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({});
</script>